<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 class="text-center">Create Product</h3>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#details" role="tab" data-toggle="tab">Details</a></li>
    <li><a href="#variants" role="tab" data-toggle="tab">Variants</a></li>
    <li><a href="#images" role="tab" data-toggle="tab">Images</a></li>
    <li><a href="#categories" role="tab" data-toggle="tab">Categories</a></li>
    <li><a href="#stock" role="tab" data-toggle="tab">Stock</a></li>
  </ul>
</div>
<div class="modal-body">
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="details">
      <form action="/products" method="post" enctype="multipart/form-data" class="form col-md-12 center-block" role="form" id="productForm">
        <input type="hidden" name="_csrf" value="{{ csrf_token }}">
        {{#unless product.isNew}}
        <input type="hidden" name="_method" value="PUT">
        {{/unless}}
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-7">
            <!-- #messages is where the messages are placed inside -->
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <div id="messages"></div>
                </div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="nameInput">Name</label>
              <input id="nameInput" class="form-control" type="text" name="name" placeholder="Name" value="{{ product.name }}">
            </div>
            {{!-- <div class="clearfix"></div> --}}
            <div class="form-group">
              <label class="sr-only" for="slugInput">Slug</label>
              <input id="slugInput" class="form-control" type="text" name="slug" placeholder="Slug" value="{{ product.slug }}">
            </div>
            {{!-- <div class="clearfix"></div> --}}
            <div class="form-group">
              <label class="sr-only" for="skuInput">SKU</label>
              <input id="skuInput" class="form-control" type="text" name="sku" placeholder="SKU" value="{{ product.sku }}">
            </div>
            <div class="form-group">
              <label class="sr-only" for="priceInput">Price</label>
              <input id="priceInput" class="form-control" type="text" name="price" placeholder="Price" value="{{ product.price }}">
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group field">
              <label>Default image</label>
              <div class="image default" data-upload="/upload/products/613">
                {{!-- <img src="/images/blank.png?1413378831"> --}}
                <span><em class="name"></em></span>
                <input type="file" class="upload" name="assets[images[]]" style="top: 80px; left: 63.5px;">
                {{!-- <input type="hidden" class="uploaded" name="product[images][default]" value=""> --}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="sr-only" for="descTextarea">Description</label>
              <textarea id="descTextarea" class="form-control" rows="3" name="desc" placeholder="Description" value="{{ product.desc }}"></textarea>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Shipping details</h3>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <label class="col-sm-4 control-label" for="weightInput">Weigth</label>
                  <div class="col-sm-8">
                    <input id="weightInput" type="number" class="form-control" name="shipping[weight]" placeholder="Weight" value="{{ product.shipping.weight }}">
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="form-group">
                  <div class="col-xs-4">
                    <label for="widthInput">Width</label>
                    <input id="widthInput" class="form-control" type="number" name="shipping[dimensions][width]" value="{{ product.shipping.dimensions.width }}" placeholder="Width" >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-4">
                    <label for="heightInput">Height</label>
                    <input id="heightInput" class="form-control" type="number" name="shipping[dimensions][height]" placeholder="Height" value="{{ product.shipping.dimensions.height }}">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-4">
                    <label for="lengthInput">Length</label>
                    <input id="lengthInput" class="form-control" type="number" name="shipping[dimensions][length]" placeholder="Length" value="{{ product.shipping.dimensions.length }}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{!-- </form> --}}
    </div>
    <div class="tab-pane" id="variants">Here we ll implement the variants form</div>
    <div class="tab-pane" id="images">Image gallery component</div>
    <div class="tab-pane" id="categories">
      <div class="treeview">
        {{{treeInput categories}}}
      </div>
    </div>
    <div class="tab-pane" id="stock">Inventory</div>
  </div>
</div>
<div class="modal-footer">
  <div class="form-group">
    <div class="col-md-12">
      <button class="btn btn-primary btn-lg" type="submit" form="productForm">Submit</button>
      <button class="btn btn-default btn-lg" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
  </div>
</form>
</div>


<script type="text/javascript">

$(document).ready(function() {

  $('.treeview').on('change', "label input:checkbox", function() {
    var checkbox = $(this),
      nestedList = $(this).parent().next().next(),
      selectNestedListCheckbox = nestedList.find("label:not([for]) input:checkbox");

    if (checkbox.is(":checked")) {
      return selectNestedListCheckbox.prop("checked", true);
    }
    selectNestedListCheckbox.prop("checked", false);
  });

  // $('#productForm').bootstrapValidator({
  //   // excluded: [':disabled', ':hidden', ':not(:visible)'],
  //   // submitButtons: 'button[type="submit"]',
  //   feedbackIcons: {
  //     valid: 'glyphicon glyphicon-ok',
  //     invalid: 'glyphicon glyphicon-remove',
  //     validating: 'glyphicon glyphicon-refresh'
  //   },
  //   fields: {
  //     name: {
  //       validators: {
  //         notEmpty: {
  //           message: 'The product name is required and cannot be empty'
  //         }
  //       }
  //     },
  //     slug: {
  //       validators: {
  //         notEmpty: {
  //           message: 'The slug field is required and must be unique'
  //         }
  //       }
  //     },
  //     sku: {
  //       validators: {
  //         notEmpty: {
  //           message: 'The SKU field is required and cannot be empty'
  //         }
  //       }
  //     },
  //     price: {
  //       validators: {
  //         notEmpty: {
  //           message: 'Price is required'
  //         },
  //         digits: {
  //           message: 'Price is not valid'
  //         }
  //       }
  //     }
  //   }
  // })
});

</script>
